extends layout

block content
  div(class="display")
  div(class="main")
    script(src="/javascripts/color-match.js")
    link(rel='stylesheet', href="/stylesheets/color-match.css")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          div(class="color-block")
          
    div(class="container")
      div(class="row")
        div(class="col-md-4 col-md-offset-4")
          div(class='game-state')
          div(class="color-match")
          
