extends layout

block content
  div(class="display")
    input(type='text' id="input")
  div(class="main")
    script(src="/javascripts/scripts.js")
    div(class="row")
      div(id="output-text")
    div(class='row')
      div(id="output-img")
      div(id="output-attr-text")
    
  
